@model BotModel
@{
    ViewData["Title"] = Localizer["Bot Deatils"];
}
<link type="text/css" href="~/css/lightbox.css" rel="stylesheet" />
<div class="container d-flex justify-content-center">
    <div class="wide-board">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-center">@Localizer["Bot Deatils"]</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12"><h1><u>@Model.newBotDeatilsInquiryModel.Name :</u></h1></div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>@Model.newBotDeatilsInquiryModel.Status </h3>
            </div>
        </div>
        <div class="row bg-head-color mb-2 font-weight-bold">
            <div class="col-7 text-center text-truncate">@Localizer["Domain"]</div>
            <div class="col-2 text-center">@Localizer["Last IP address"]</div>
            <div class="col-3 text-center">@Localizer["Last seen"]</div>
        </div>
        <div class="row">
            <div class="col-7 text-center text-truncate">@Model.newBotDeatilsInquiryModel.Domain</div>
            <div class="col-2 text-center">@Model.newBotDeatilsInquiryModel.LastIPAddress</div>
            <div class="col-3 text-center">@Model.newBotDeatilsInquiryModel.LastLoggedInUTC</div>
        </div>
        <div class="row mt-3">
            <div class="col-12"><h2>@Localizer["ScreenShot"]</h2></div>
            <div class="col-12"><hr /></div>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12 mb-2">
                        <a href="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetScreenShot" data-lightbox="screenshot">
                            <img class="screenshot" src="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetScreenShot" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 bg-head-color mb-2 font-weight-bold">
            <div class="col-4 text-center text-truncate">@Localizer["Hardware Name"]</div>
            <div class="col-1 text-center">@Localizer["Hardware Type"]</div>
            <div class="col-2 text-center">@Localizer["Performance"]</div>
            <div class="col-5 text-center">@Localizer["Other information"]</div>
        </div>
        <div class="row" id="deatils">
            
        </div>
        <div class="row mt-3">
            <div class="col-12"><h2>@Localizer["Images"]</h2></div>
            <div class="col-12"><hr /></div>
            <div class="col-12">
                <div class="row" id="list">
                   @foreach (string i in Model.newImagesJsonModel.Images)
                    {
                        <div class="col-2 mt-2">
                            <a href="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetImg?@i" data-lightbox="BotImages">
                                <img width="120" src="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetImg?@i" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/lightbox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.get("/List/BotGetDeatils?=" + @ViewData["ID"], function (data, status) {
            console.log(data);
            $("#deatils").append('<div class="col-4 text-center text-truncate">' + data.Cpu.HardwareName + '</div>' +
                '<div class="col-1 text-center">' + data[0].Cpu.HardwareType + '</div>' +
                '<div class="col-2 text-center">' + data[0].Cpu.Performance + '</div>' +
                '<div class="col-5 text-center">' + data[0].Cpu.OtherInformation + '</div>');
             $("#deatils").append('<div class="col-4 text-center text-truncate">' + data.Cpu.HardwareName + '</div>' + 
                                        '<div class="col-1 text-center">' + data[0].Gpu.HardwareType + '</div>' +
                                        '<div class="col-2 text-center">' + data[0].Gpu.Performance + '</div>' +
                 '<div class="col-5 text-center">' + data[0].Gpu.OtherInformation + '</div>');
            $("#deatils").append('<div class="col-4 text-center text-truncate">' + data[0].Ram.HardwareName + '</div>' + 
                                        '<div class="col-1 text-center">' + data[0].Ram.HardwareType + '</div>' +
                                        '<div class="col-2 text-center">' + data[0].Ram.Performance + '</div>' +
                '<div class="col-5 text-center">' + data[0].Ram.OtherInformation + '</div>');
            $("#deatils").append('<div class="col-4 text-center text-truncate">' + data[0].OS.HardwareName + '</div>' + 
                                        '<div class="col-1 text-center">' + data[0].OS.HardwareType + '</div>' +
                                        '<div class="col-2 text-center">' + data[0].OS.Performance + '</div>' +
                                        '<div class="col-5 text-center">' + data[0].OS.OtherInformation + '</div>');
            for (i = 0; i < data.OtherHarwares.length; i++) {
                $("#deatils").append('<div class="col-4 text-center text-truncate">' + data[i].OtherHarwares.HardwareName + '</div>' + 
                                        '<div class="col-1 text-center">' + data[i].OtherHarwares.HardwareType + '</div>' +
                                        '<div class="col-2 text-center">' + data[i].OtherHarwares.Performance + '</div>' +
                                        '<div class="col-5 text-center">' + data[i].OtherHarwares.OtherInformation + '</div>');
            }
        });
    });
</script>
