@model BotModel
@{
    ViewData["Title"] = Localizer["Bot Deatils"];
}
<link type="text/css" href="~/css/lightbox.css" rel="stylesheet" />
<div class="container d-flex justify-content-center">
    <div class="wide-board">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-center">@Localizer["Bot Deatils"]</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12"><h1><u>@Model.newBotDeatilsInquiryModel.Name :</u></h1></div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>@Model.newBotDeatilsInquiryModel.Status </h3>
            </div>
        </div>
        <div class="row bg-head-color mb-2 font-weight-bold">
            <div class="col-7 text-center text-truncate">@Localizer["Domain"]</div>
            <div class="col-2 text-center">@Localizer["Last IP address"]</div>
            <div class="col-3 text-center">@Localizer["Last seen"]</div>
        </div>
        <div class="row">
            <div class="col-7 text-center text-truncate">@Model.newBotDeatilsInquiryModel.Domain</div>
            <div class="col-2 text-center">@Model.newBotDeatilsInquiryModel.LastIPAddress</div>
            <div class="col-3 text-center">@Model.newBotDeatilsInquiryModel.LastLoggedInUTC</div>
        </div>
        <div class="row mt-3">
            <div class="col-12"><h2>@Localizer["ScreenShot"]</h2></div>
            <div class="col-12"><hr /></div>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12 mb-2">
                        <a href="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetScreenShot" data-lightbox="screenshot">
                            <img class="screenshot" src="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetScreenShot" onerror="this.onerror=null;this.src='/img/NotLoad.gif';" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 bg-head-color mb-2 font-weight-bold">
            <div class="col-3 text-truncate">@Localizer["Hardware Name"]</div>
            <div class="col-2 text-left">@Localizer["Hardware Type"]</div>
            <div class="col-2 text-center">@Localizer["Performance"]</div>
            <div class="col-5 text-right">@Localizer["Other information"]</div>
        </div>
        <div class="row BotDeatils" id="deatils">
            
        </div>
        <div class="row mt-3 bg-head-color mb-2 font-weight-bold">
            <div class="col-1 text-truncate">@Localizer["ID"]</div>
            <div class="col-4 text-left">@Localizer["Process Name"]</div>
            <div class="col-6 text-right">@Localizer["Description"]</div>
            <div class="col-1 text-center">Close</div>
        </div>
        <div class="row BotDeatils" id="process">

        </div>
        <div class="row mt-3">
            <div class="col-12"><h2>@Localizer["Images"]</h2></div>
            <div class="col-12"><hr /></div>
            <div class="col-12">
                <div class="row" id="list">
                    @foreach (string i in Model.newImagesJsonModel.Images)
                    {
                        <div class="col-2 mt-2">
                            <a href="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetImg?@i" data-lightbox="BotImages">
                                <img width="120" src="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetImg?@i" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/lightbox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        deatils();
        process();
    });
    $("#process").on('click',".close-btn", function (event) {
        console.log($(this).attr('alt-href'));
        event.preventDefault();
        $.ajax({
            url: $(this).attr('alt-href'),
            method: "GET",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                //$.notify("Access granted", "success", { position:"right" });
            },
            error: function (data) {
                console.log("Error: " + data);
            }
        });
    });
    function process() {
        $.ajax({
            method: "GET",
            url: "/List/BotGetProcess?=" + @ViewData["ID"],

            success: function (data) {
                data = JSON.parse(data);
                for (i = 0; i < data.length; i++) {
                    $("#process").append('<div class="col-1 text-truncate font-size-down">' + data[i].Id + '</div>' +
                        '<div class="col-4 text-left text-truncate font-size-down">' + data[i].ProcessName + '</div>' +
                        '<div class="col-6 text-truncate text-right font-size-down" title="' + data[i].description + '">' + data[i].description + '</div>' +
                        '<div class="col-1 text-center"><button class="close-btn" alt-href="/Commands/KillProcess?=' + data[i].Id + '"><img src="/img/LightBoxImages/close.png" width="10"></button></div>');
                }
            },
            error: function (data) {
                console.log("Error: " + data);
            }
        });
    }
    function deatils() {
        $.ajax({
            method: "GET",
            url: "/List/BotGetDeatils?=" + @ViewData["ID"],

            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    $("#deatils").append('<div class="col-3 text-truncate font-size-down" title="' + data[i].hardwareName.replace("Name:", "") + '">' + data[i].hardwareName.replace("Name:", "") + '</div>' +
                        '<div class="col-2 text-left text-truncate font-size-down">' + data[i].hardwareType.replace("Type:", "") + '</div>' +
                        '<div class="col-2 text-truncate text-center font-size-down">' + data[i].performance + '</div>' +
                        '<div class="col-5 text-truncate text-right font-size-down" title="' + data[i].otherInformation + '">' + data[i].otherInformation + '</div>');
                }
            },
            error: function (data) {
                console.log("Error: " + data);
            }
        });
    }
</script>
