@model BotModel
@{
    ViewData["Title"] = Localizer["Bot Deatils"];
}
<link type="text/css" href="~/css/lightbox.css" rel="stylesheet" />
<div class="container d-flex justify-content-center">
    <div class="wide-board">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-center">@Localizer["Bot Deatils"]</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12"><h1><u>@Model.newBotDeatilsInquiryModel.Name :</u></h1></div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>@Model.newBotDeatilsInquiryModel.Status </h3>
            </div>
        </div>
        <div class="row bg-head-color mb-2 font-weight-bold">
            <div class="col-7 text-center text-truncate">@Localizer["Domain"]</div>
            <div class="col-2 text-center">@Localizer["Last IP address"]</div>
            <div class="col-3 text-center">@Localizer["Last seen"]</div>
        </div>
        <div class="row">
            <div class="col-7 text-center text-truncate">@Model.newBotDeatilsInquiryModel.Domain</div>
            <div class="col-2 text-center">@Model.newBotDeatilsInquiryModel.LastIPAddress</div>
            <div class="col-3 text-center">@Model.newBotDeatilsInquiryModel.LastLoggedInUTC</div>
        </div>
        <div class="row mt-3">
            <div class="col-12"><h2>@Localizer["ScreenShot"]</h2></div>
            <div class="col-12"><hr /></div>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12 mb-2">
                        <a href="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetScreenShot" data-lightbox="screenshot">
                            <img class="screenshot" src="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetScreenShot" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12"><h2>@Localizer["Images"]</h2></div>
            <div class="col-12"><hr /></div>
            <div class="col-12">
                <div class="row" id="list">
                   @foreach (string i in Model.newImagesJsonModel.Images)
                    {
                        <div class="col-2 mt-2">
                            <a href="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetImg?@i" data-lightbox="BotImages">
                                <img width="120" src="http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetImg?@i" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/lightbox.js"></script>
<script type="text/javascript">
    @*$(document).ready(function () {
        var ImagesList = [];*/
        @foreach (string i in Model.newImagesJsonModel.Images)
        {
            @:ImagesList.push("http://@Model.newBotDeatilsInquiryModel.Domain:50371/GetImg?@i");
        }
        /*var ImagesList = @Model.newImagesJsonModel.Images;
        for (var i = 0; i < ImageList.length; i ++) {
            $.get(ImagesList[i], function( data ) {
                $( "#list" ).html( '<div class="col-2 mt-2"><img width="120" src="' + data + '" /></div>');
            });
        }
    });*@
</script>
