@model ExecuteModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{
    ViewData["Title"] = Localizer["Execute or download file"];
}
<form asp-controller="Commands" asp-action="ExecuteCommand" method="post" class="Form-action">
    <h2>@Localizer["Execute or download file"]</h2>
    <hr />
    <div class="form-group">
        <label asp-for="Url"></label>
        <input asp-for="Url" />
        <span asp-validation-for="Url"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="ondisplay">
        <section title="@Localizer["Run it too"]?">
            <div class="form-check slideTwo">
                <span asp-validation-for="Run"></span>
                <input asp-for="Run" class="form-check-input" type="checkbox" id="Run">
                <label class="form-check-label" for="Run"></label>
            </div>
        </section>
    </div>
    <div class="ondisplay">
        <section title="@Localizer["Also use a proxy"]?">
            <div class="form-check slideTwo">
                <span asp-validation-for="Proxy"></span>
                <input asp-for="Proxy" class="form-check-input" type="checkbox" id="Proxy">
                <label class="form-check-label" for="Proxy"></label>
            </div>
        </section>
    </div>
    <div class="ondisplay">
        <section title="@Localizer["Force execute command"]?">
            <div class="form-check slideTwo">
                <span asp-validation-for="Force"></span>
                <input asp-for="Force" class="form-check-input" type="checkbox" id="Force">
                <label class="form-check-label" for="Force"></label>
            </div>
        </section>
    </div>
    <button class="btn btn-primary mt-2 w-100">@Localizer["Submit"]</button>
</form>
