
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="auth-form">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>@Localizer["Commands"]</h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <select class="command-select">
                        <option selected disabled hidden>@Localizer["Chose"]...</option>
                        <optgroup label="@Localizer["General commands"]">
                            <option value="ExecuteFile">@Localizer["Execute file"]</option>
                            <option value="OpenWebsite">@Localizer["Open website"]</option>
                            <option value="SendMessage">@Localizer["Send Message"]</option>
                        </optgroup>
                        <optgroup label="@Localizer["Attacks"]">
                            <optgroup label="3. @Localizer["Layer"]">
                                <option value="Icmp">ICMP</option>
                            </optgroup>
                            <optgroup label="4. @Localizer["Layer"]">
                                <option value="Tcp">TCP</option>
                                <option value="Udp">UDP</option>
                            </optgroup>
                            <optgroup label="7. @Localizer["Layer"]">
                                <option value="Arme">ARME</option>
                                <option value="SlowLoris">SlowLoris</option>
                                <option value="TorLoris">TorLoris</option>
                                <option value="Rudy">R.U.D.Y</option>
                                <option value="Hulk">Hulk</option>
                                <option value="HttpBandwidth">HTTPBandWidth</option>
                            </optgroup>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="auth-form">
            <div id="Commands">

            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function getFile(file) {
        $.ajax({
            url: file,
            Type: "Get",
            beforeSend: function () {
                $('.Commands').append("<div class='ajax-loading'></div>");
            },
            complete: function () {
                $('.ajax-loading').remove();
            },
            success: function (data) {
                $("#Commands").text();
                $("#Commands").html(data);
            }
        });
    }
    $(".command-select").change(function () {
        $(".command-select option:selected").each(function () {
            console.log($(this).val());
            getFile($(this).val());
        });
    });

</script>